@font-face{
    font-family: geosans;
    src: url("../fonts/geosans.ttf");
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scoretable {
    font-family: 'geosans';
    letter-spacing: 1px;
    font-weight: 1000;
    height: 90%;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    overflow: scroll;
}

.b30footer {
    margin: 10px;
    display: flex;
    align-content: center;   
}

.b30footer .item {
    padding: 0px 10px;
}

/* .el-table {
    --el-table-row-hover-bg-color: unset;
} */

.el-table .pst-row {
    --el-table-tr-bg-color: #EAF2F8;
}

.el-table .prs-row {
    --el-table-tr-bg-color: #E9F7EF;
}

.el-table .ftr-row {
    --el-table-tr-bg-color: #F5EEF8;
}

.el-table .byd-row {
    --el-table-tr-bg-color: #F9EBEA;
}