.aside {
    width: 200px;
    /* background-color: azure; */
    height: 100%;
}

.main{
    height: 100%;
}

.common {
    height: 100%;
}

.menu {
    height: 100%;
}

el-menu el-menu-item {
    
}